Repository pyvista/scikit-gmsh, pull requests merged in 2025-03, with the labels that each got.

#451 Generate a PyVista grid directly without meshio as intermediate step
  pyproject.toml
  src/skgmsh/__init__.py
Labels: maintenance

#452 Add option constrain_edge_size for Delaunay2D
  examples/better_cell_size.py
  src/skgmsh/__init__.py
Labels: enhancement

#457 Remove tool.poetry from pyproject.toml which is not used anymore
  pyproject.toml
Labels: maintenance

#459 Add libgeos to packages.txt to fix build of shaply
  packages.txt
Labels: bug

#460 Fix pypi upload error in github action workflow
  .github/workflows/publish-to-pypi.yml
Labels: maintenance

#462 Add a new workflow to publish to PyPI
  .github/workflows/publish-to-pypi.yml
Labels: maintenance

#468 Remove Python 3.9 support
  .github/workflows/testing-and-deployment.yml
  pyproject.toml
  src/skgmsh/__init__.py
Labels: maintenance
